body{
    background-color: black;
}
h1{
    text-align: center;
    color: rgb(113, 211, 149);
}
h2{
    text-align: center;
    color: rgb(113, 211, 142);
}
h3{
    text-align: center;
    color: rgb(182, 211, 113);
}
p{
    text-align: center;
    color: rgb(238, 44, 44);
    letter-spacing: normal;
}